# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# cordova files
/cordovaWrap/platforms/*/
/cordovaWrap/plugins/*/

/client/
npm-debug.log

# this file is a link created by npm install. no need to commit it
cordovaCmd