//- This file describes the basic structure, and required resources for all app's pages

doctype html
html(lang="")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="style/main.css")
		block head
			//- In this block, add custom stylesheets, meta tags, etc...
	body
		block body
			//- In this block, the page's body
		script(src="cordova.js")