div(class='tab')
	a(class='tablinks' href='#') 
		img(src="../images/profile_tab.svg")
	a(class='tablinks' href='#')
		img(src="../images/location_tab.svg")
	a(class='tablinks' href='#')
		img(src="../images/chat_tab.svg")