div(class='tab')
	a(href='#') 
		img(id="profile_tablink" class="tablink" src="../images/profile_tab.svg")
	a(href='#')
		img(id="location_tablink" class="tablink" src="../images/location_tab.svg")
	a(href='#')
		img(id="chat_tablink" class="tablink" src="../images/chat_tab.svg")