header
	div#mainMenu
		a(href='#' id="profile_tablink" class="tablink")
			img(src="../images/profile_tab.svg")
		a(href='#' id="location_tablink" class="tablink")
			img(src="../images/location_tab.svg")
		a(href='#' id="chat_tablink" class="tablink")
			img(src="../images/chat_tab.svg")