body, html{
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	position: absolute;
	top: 0; left: 0;
}

/* Hide the tabcontent elements that are not 'open' (should be only one at a time) */
.tabcontent:not(.open){
	display: none;
}